p {
  font-family: 'Playfair Display', sans-serif;
  // font-size: 50px;
  padding: 40px 0;
  color: #333333;

  strong {
    display: inline-block;

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 0%;
      background-color: theme-color(primary);
      margin-top: -10px;
      transition: width .3s ease-in-out;
    }

    font-weight: 400;
    color: theme-color(primary);

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  span {
    font-family: 'Montserrat', serif;

    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
  }
}