<footer class="footer text-center">
    <div class="container">
        <a href="#" title="" class="logo_container">
            <img src="./img/logo.svg" alt="" class="logo">
        </a>
        <span class="line"> </span>
        <p>
            <strong>
                <a href="mailto:maximilian.hagerf@gmail.com" title="mail me">maximilian.hagerf@gmail.com</a>
            </strong>
        </p>
        <p>
            <a class="linkedin social" href="https://www.linkedin.com/in/maximilianhagerf/" title="">
                <img src="./img/logos/linkedin2.svg" alt="">
            </a>
        </p>

    </div>
</footer>

<script>
//SCRIPTS
//END SCRIPTS
</script>
<!--<Deject>--><script src="js/all.js">/**/</script><!--<Deject>-->
</body>

</html>